<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Basic Forum</title>
    <h1 class="text-center">Basic Forum</h1>
  </head>
  <body>
    <div class="col">
      <input class="form-control" id="userSpace"type="text" placeholder="Username">
    </div>
    <div class="col">
      <textarea class="form-control" id="postSpace" placeholder="Write your post here" rows="3"></textarea>
    </div>
    <pre>
    </pre>
    <div id="messages">
    </div>
  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script>
    // Connect to socket.io
    var socket = io.connect('http://127.0.0.1:4000')
    if(socket !== undefined){
      document.getElementById('postSpace').addEventListener('keydown', function(event){
        if(event.which === 13 && event.shiftKey == false){
          event.preventDefault()
          var n = document.getElementById('userSpace').value + ' @ ' + new Date()
          var m = document.getElementById('postSpace').value
          len = document.getElementsByClassName('card-block').length
          socket.emit('postIn', {name: n, message: m})
          document.getElementById('postSpace').value = ''
          document.getElementById('userSpace').value = ''
        }
      })
      $.get(document.URL+"posts", function(data){
          for(var i in data.posts){
            createNewMessage(data.posts[i].name, data.posts[i].message, data.posts[i]._id)
            if(data.posts[i].comments.length){
              for(var j in data.posts[i].comments){
                createComment(data.posts[i]._id, data.posts[i].comments[j].message)
              }
            }
          }
        })
    } // Initializing the feed of posts

    socket.on('commentOut', function(data){
      createComment(data.num, data.message)
    }) // Handling new comments from the backend

    socket.on('postOut', function(data){
      createNewMessage(data.name, data.message, data._id)
    }) // Handling new posts from the backend

    var createNewMessage = function(name, message, num){
      var newMessage = document.createElement('div')
      newMessage.id = num;
      newMessage.className = "card"
      newMessage.innerHTML = '<div class="card">\
        <div class="card-block">\
            <h6 class="card-title"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;'+name+'</h4>\
            '+message+'\
            <div class="card-block">\
              <div id = "comments-'+ num+ '">\
              </div>\
            </div>\
        </div>\
      </div>'
      newMessage.addEventListener('click', function(event){
        console.log(num)
      })
      var textbox = document.createElement('input')
      textbox.setAttribute('type', 'text')
      textbox.setAttribute('class', 'form-control')
      textbox.setAttribute('id', 'textbox-'+num)
      textbox.setAttribute('placeholder', 'Write a comment')
      textbox.addEventListener('keydown', function(event){
        if(event.which === 13 & event.shiftKey == false){
          event.preventDefault()
          socket.emit('commentIn', {message: textbox.value, id: num})
          textbox.value = ""
        }
      })
      newMessage.childNodes[0].appendChild(textbox)
      document.getElementById("messages").prepend(newMessage)
    }

    var createComment = function(num, value){
      var comment = document.createElement('div')
      comment.innerHTML = '<h6 class="card-title"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;comment</h6>'+value
      document.getElementById('comments-'+num).appendChild(comment)
      console.log('comment created')
    }
</script>
